<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    Welcome to my Brokerage Firm Database. This Project was created for IT 302. All data contained in this database 
    is used for demonstration purposes only and does not contain any personal or real information. You can reach me at
    <a href = "mailto: ali37@uic.edu">my email</a> 
    for any questions or concerns.
</body>
</html>
